.entirePostList {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}
.postListContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 80px;
}
.postListRow {
	display: flex;
	flex-direction: row;
	margin: 30px 0;
}
.newPostButton {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	font-size: 60px;
	margin: 60px;
	color: #fed80a;
}
button, input[type="submit"], input[type="reset"] { /* remove default button styles */
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}
/* POST DETAILS MODAL */


/* POST EDITOR MODAL */
.postEditorBg {
	position: fixed;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #122C46;
	opacity: 0.8;
}
.postEditorContainer {
	position: fixed;
	z-index: 4;
	width: 600px;
	height: 300px;
	top: 30%;
	left: 50%;
	margin-left: -23%;
	background-color: #122C46;
  	border-radius: 15px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.postEditorHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 20px;
}
.postEditorHeaderItem {
	color: #fed80a;
}

/* MISC */
.loading {
	position: fixed;
	z-index: 5;
	top: 45%;
	left: 45%;
}